//颜色公共样式
@main: #303133;
@content: #606266;
@occ: #c0c4cc;
@sec: #909399;
@background: #409eff;
@success: #67c23a;
@warning: #e6a23c;
@danger: #f56c6c;
//字体公共样式
@title-size: 18px;
@content-size: 16px;
@sec-size: 14px;
@occ-size: 12px;


html,body{
  height: 100%;
}

.content {
  width: 1024px;
  margin: 0 auto;
}

.under-line {
  width: 96%;
  border: 1px solid transparent;
  border-bottom-color: #666666;
  position: relative;
  left: 50%;
  margin-left: -48%;
}
