@import url("../../../../static/less/common.less");

html {
    height: 100%;
    background: #075498;
    
}

body {
    height: 100%;
    background: url('../../../../static/imgs/top.jpg') no-repeat 0 0;
    background-size:cover;
}

.header-box {
    .content {
        position: relative;
    }
    h1 {
        font-size: 40px;
        font-weight: bold;
        padding: 10px 0 20px 5px;
        color: #ffffff;
    }
    p {
        font-size: 22px;
        padding: 0px 0 20px 5px;
        color: #ffffff;
    }
    .exit-btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #ffffff;
        .icon-exit{
            font-size: @sec-size;
        }
        span {
            text-decoration: underline;
        }
    }
}

.body-box {
    margin-top: 24px;
    .content {
        .wrap-box {
            border-radius: 3px;
            background: rgba(255, 255, 255, 0.2);
            padding: 12px;
            .wrap-container {
                background: rgba(255, 255, 255, 0.3);
                padding: 12px;
                border-radius: 3px;
                box-shadow: 0 0 5px 0px;
            }
        }
    }
}