.messageboard-box{
  padding: 10px;
  background: #fff;
  border-radius: 3px;
  .title{
    color: #303133;
    border-bottom: 1px solid #303133;
  }
  .leave-note{
    padding: 4px;
    overflow: hidden;
    .leave-note-btn{
      float: right;
      margin-top: 4px;
    }
  }
  .messageboard{
    padding-top: 10px;
    .msgitem{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border: 1px solid #c0c9cc;
      height: 50px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 4px;
      .del-button{
        margin-left: 80px;
      }
      .user-name{
        width: 100px;
      }
    }
  }
}