.dy-window {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
    .dy-header {
        overflow: hidden;
        .title-box {
            position: relative;
            .name {
                font-size: 28px;
                color: #2D2F33
            }
            .data {
                padding-top: 8px;
                color: #5A5E66;
                font-size: 10px;
            }
            .del {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    .dy-body {
        margin-top: 20px;
        .message {
            padding: 15px 5px;
            font-size: 17px;
        }
        .line {
            width: 100%;
            border-top: 1px solid #D8DCE5;
         }
    }
    .dy-footer {
        .nice-list {
            margin-top: 8px;
            .msg{
                font-size:14px;
            }
        }
        .comment {
            overflow: hidden;
            textarea {
                margin-top: 10px;
                resize: none; 
            }
            .btn {
                margin-top: 10px;
                float: right;
            }
        }
    }
}